params {
  project_folder   = "$PWD"
  chipfilter_output   = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-chipfilter/chipfilter_output"
  macs3_output     = "macs3_output"
  container_macs3 = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/macs3-3.0.1.sif"

  seq = "paired" // or "single"
  genome_size = 'mm' // for GRCm39 // 2654621783
  qvalue      = 0.1
  peak_type   = '' // default as "narrow", for broad "--broad"

  cpus   = 4
  memory = "16GB"
  time   = "8h"
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}
