params {
  project_folder   = "$PWD"
  picard_output   = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-picard/picard_output"
  macs3_output     = "macs3_output"
  container_macs3 = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/macs3-3.0.1.sif"

  cpus   = 4
  memory = "16GB"
  time   = "8h"
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}
