params {
  project_folder    = "$PWD"
  chipfilter_output = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-chipfilter/chipfilter_output"
  macs3_output      = "macs3_output"
  macs3_samplesheet = null
  samples_master    = null
  container_macs3   = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/macs3-3.0.1.sif"
  container_bedtools = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/chipfilter-sam-bed.sif"

  seq          = "paired" // or "single"
  genome_size  = 'mm'
  idr_qvalue   = 0.1
  consensus_qvalue = 0.05
  strict_qvalue = 0.01
  keep_dup     = "all"
  call_summits = true
  peak_type    = '' // default narrow; broad: "--broad"
  peak_blacklist_bed = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/reference/blacklist/mm39.excluderanges.bed"
  peak_blacklist_fraction = 0.5

  cpus   = 4
  memory = "16GB"
  time   = "8h"
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}
