docker {
  enabled = true
}

singularity {
  enabled = false
}

process {
  executor = 'local'
  cpus     = params.cpus
  memory   = params.memory
  time     = params.time

  container = 'quay.io/biocontainers/macs3:3.0.1--pyhdfd78af_0'

  withName: 'macs3_blacklist_peak' {
    container = 'quay.io/biocontainers/bedtools:2.31.1--hf5e1c6e_2'
    cpus      = 2
    memory    = '8 GB'
    time      = '2h'
  }
}
