params {
  container_macs3 = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/macs3-3.0.1.sif"
  queue         = 'cpu_p'
  extra_mounts  = ''
}

process {
  executor = 'slurm'
  queue          = params.queue
  clusterOptions = '--qos=cpu_normal --nice=10000 --mail-type=END,FAIL --mail-user=shan.jiang@helmholtz-munich.de'

  cpus   = params.cpus
  memory = params.memory
  time   = params.time

  container        = params.container_macs3

  withName: 'macs3_callpeak' {
    cpus   = 4
    memory = '16 GB'   
    time   = '12h'
  }

  withName: 'macs3_blacklist_peak' {
    container = params.container_bedtools
    cpus      = 2
    memory    = '8 GB'
    time      = '2h'
  }
}

singularity {
  enabled    = true
  autoMounts = true
}
